table, td, th { 
  border: 2px solid gray; 
}
td, th {
  padding: 5px 10px 10px 10px;
}

table { 
  border-collapse: collapse; 
background-color: white;
margin: 10 10;
}

#message {
  width: 300px;
  padding: 10 10;
  margin: 10 10;
  color: white;
}

.good {
  background-color: green;
}

.bad {
  background-color: red;
}

.comhead{
padding-top:20;
color:black;
}
div.comment{
color:black;
 font-weight: bold;
padding: 10 10;
margin-left:10;
}

.but{
margin-left:20;
}