body{
 color: white;
  background:black;
}
div {
  margin-bottom: 5px;
}

#message {
  width: 300px;
  padding: 10 10;
  margin: 10 10;
  color: white;
}
.good {
  background-color:#33ccff;
}

.bad {
  background-color: red;
}

#logout {
  float:right;
  margin-right: 50px;
}
#create{
color:#00BFFF;
margin-top:20px;

}

#email{
margin-top:20;