html{
background-image: url("loginback.jpg" );
}
body{
 color: white;
}
div {
  margin-bottom: 5px;
}

#message {
  width: 420px;
  padding: 10 10;
  margin: 10 10;
  color: white;
text-align:center;
}

.close {
  float:right;
  position: relative;
  top: -8px;
  right: -5px;
  cursor:pointer;
color:black;
}

.disappear {
  visibility:hidden;
}
.good {
  background-color:#33ccff;
}

.bad {
  background-color: red;
}

#logout {
  float:right;
  margin-right: 50px;
}
#create{
color:#00BFFF;
}
#new{
margin-top:30px;
}

#email{
margin-top:10;