body {
  background-color: #000000;
}
.header {
  background-color: #ffffff;
  text-align: center;
  padding: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #efefef}

.dropdown:hover .dropdown-content {
  display: block;
}
li:last-child {
  border-right: none;
}

/* highlight active page */
.active {
  background-color: #FF0000;
  color: white;
}
.footer {
 
  padding: 10px;
  background-color: #efefef;
  text-align: center;
}

button {
 width: 16%;
    display: inline-block;
    height: 210px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    background-size: 200px 210px;
}
#parksmenu {
display:inline;
  position: absolute;
  right: 0;
  bottom: 40;
  left: 0;
}
#mkbut{
 
    background-image: url("mk.jpg" );
}
#epbut{
    background-image: url("epcot.jpg" );
}
#akbut{
    background-image: url("ak.png" );
}

#hsbut{
    background-image: url("hs.png" );
}
#dlbut{
    background-image: url("dl.png" );
}
#cabut{
    background-image: url("ca.png" );
}
form{
display:inline;
}

.forum{
 color:white;
padding:20px;
}
.center {
margin-top:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
#logo{
position:absolute;
top:10;
left:10;
width:10%;
height:10%;
 float:left;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}