Html, body {
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} 

.weather{
 display:inline;
 position: fixed;
  top: 60%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#calbut{
margin-top:20px;
height:40px;
 width:100%;
}
#week-cal{
float:left;
line-height:40px;
width: 25%;
margin-bottom:40px;
padding:10;
text-align:center;
}
#week-cal1{
float:right;
line-height:40px;
width: 25%;
margin-bottom:40px;
margin-top:0;
padding:10;
text-align:center;
}

#day-cal{
background-color:#29C1F6;
color: #000000;
border:1px solid;
border-bottom:1px solid;

}

#day{
display:inline;
}

#weekid{
color:white;
font-size:large;
text-align:center;
padding-top:20;
}